@using PurpleBuzz_Backend.Models
@model TeamMember

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Delete Team member
                        </p>

                        <span>Fullname:</span>
                        <span>@Model.Name @Model.Surname</span>

                        <br/>
                        <br/>

                        <span>Position:</span>
                        <span>@Model.Position</span>

                        <br/>
                        <br/>

                        <span>
                            <img src="~/assets/img/@Model.PhotoPath"/>
                        </span>

                        <form method="post" asp-action="deletecomponent" asp-controller="teammember" asp-area="admin" asp-route-id="@Model.id">
                            <button onclick="confirm('Əminsiz mi?')" class="btn btn-danger">Silin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>